.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #c63031 !important;
  border-width: 1px;
}
.MuiFormLabel-root.Mui-focused {
  color: #c63031 !important;
}
fieldset {
  outline: none;
  color: #c63031 !important;
  border-width: 1px !important;
}
